<h2>Home</h2>













<div class="chart" style="display: flex; flex-direction: row; width: 100%;">

<mat-card style="width: 300px; margin-bottom: 10px; padding: 10px;">
  <mat-card-title>Charger Status Overview</mat-card-title>
  <mat-card-content>
    <canvas baseChart
            [type]="pieChartType"
            [data]="pieChartData">
    </canvas>
  </mat-card-content>
</mat-card>



<!-- map  -->
<div class="map-wrapper">
  <mat-card class="map-search">
<mat-form-field appearance="outline" style="width: 100%; max-width: 300px;" class="custom-label">
  <mat-label>Search Location</mat-label>
  <input matInput [(ngModel)]="searchQuery" (keyup.enter)="searchLocation()" placeholder="e.g. New Delhi">
</mat-form-field>
</mat-card>
  
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>

</div>

<mat-card class="revenue-card">
  <mat-card-title style="margin-bottom: 20px;">Revenue Overview</mat-card-title>
  <mat-card-content class="revenue-content">
    
    <mat-form-field appearance="outline" class="view-select custom-label">
      <mat-label>View</mat-label>
      <mat-select [(value)]="selectedView" (selectionChange)="onViewChange()">
        <mat-option value="daily">Daily</mat-option>
        <mat-option value="monthly">Monthly</mat-option>
      </mat-select>
    </mat-form-field>

    <canvas baseChart
            [type]="barChartType"
            [data]="barChartData"
            [options]="barChartOptions"
            class="chart-canvas">
    </canvas>

  </mat-card-content>
</mat-card>




<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%;">

  <ng-container matColumnDef="cpo">
    <th mat-header-cell *matHeaderCellDef> CPO </th>
    <td mat-cell *matCellDef="let element"> {{ element.cpo_name }} </td>
  </ng-container>

  <ng-container matColumnDef="station">
    <th mat-header-cell *matHeaderCellDef> Station </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> CP Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.cp_name }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
    <span [ngClass]="{'status-green': element.status === 'Y' ,
           'status-red' : element.status === 'N'}">
      {{ element.status === 'Y' ? 'Active' : 'Inactive' }} 
    </span> 
   
  </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>









