<div class="login-wrapper">
  <div class="login-card">
    <img src="https://belectriq.co/static/images/Logo.svg" alt="Belectriq Logo" class="brand-logo" />
    <h2>Login to Your Account</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <label for="username">Username</label>
      <input id="username" name="username" [(ngModel)]="user_name" required />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required />

      <button type="submit">Login</button>
    </form>
    <p class="footer-text">Powering the future of mobility</p>
    <div class="forgotpass">
      <p class="forgotp">Forgot password?</p>
    </div>
  </div>
</div>
