<h2 mat-dialog-title>Bulk Charger Dispatch</h2>

<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="submitBulkDispatch()" class="form-container">
    <!-- Client Dropdown -->
    <mat-form-field appearance="outline" class="custom-label" >
      <mat-label>Client</mat-label>
      <mat-select formControlName="clientName" required>
        <mat-option *ngFor="let client of clients" [value]="client.id">
          {{ client.name }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-error *ngIf="form.get('clientName')?.hasError('required')">
        Client is required
      </mat-error>
    </mat-form-field>

    <!-- Dispatch Date -->
    <mat-form-field appearance="outline"  class="custom-label">
      <mat-label>Dispatch Date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dispatch_date"
        required
        (focus)="picker.open()"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('dispatch_date')?.hasError('required')">
        Dispatch Date is required
      </mat-error>
    </mat-form-field>

    <!-- Status and Public Toggle -->
    <!-- <div style="display: flex; justify-content: space-between; margin-bottom: 16px;"> -->
      <mat-slide-toggle formControlName="status" >
        Status
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="public" >
        {{ form.get('public')?.value ? 'Public' : 'Private' }}
      </mat-slide-toggle>
    <!-- </div> -->

    <!-- CSV Upload -->
     <div style="color: black;">
        <label  for="fileInput" style="display: block; font-size: 12px;">Upload CSV</label>
        <input id="fileInput" type="file" accept=".csv" (change)="onFileSelected($event)" required />
        <mat-error *ngIf="form.get('file')?.hasError('required')">File is required</mat-error>
        <br /><br />
     </div>


    <!-- Sample CSV Download -->
    <button mat-raised-button class="create" color="accent" type="button" (click)="downloadSampleCsv()">
      Download Sample CSV
    </button>
  </form>


<mat-dialog-actions align="end" style="margin-top: 20px;">
  <button
    mat-raised-button
    color="primary"
    (click)="submitBulkDispatch()"
    [disabled]="form.invalid || !selectedFile"
  >
  Upload
  </button>
  <button mat-raised-button type="button" (click)="onCancel()">
    <mat-icon>cancel</mat-icon>
    Cancel
  </button>
</mat-dialog-actions>
