
<div class="header">
  <h2>Manage Chargers</h2>
  <button mat-raised-button color="primary" class="create" (click)="onCreate()">
    <mat-icon>add</mat-icon> Create
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="chargerId">
    <th mat-header-cell *matHeaderCellDef> Charger ID </th>
    <td mat-cell *matCellDef="let element"> {{element.chargerId}} </td>
  </ng-container>

  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let element"> {{element.model}} </td>
  </ng-container>

  <ng-container matColumnDef="location">
    <th mat-header-cell *matHeaderCellDef> Location </th>
    <td mat-cell *matCellDef="let element"> {{element.location}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="btn-view" (click)="onView(element.id)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button class="btn-edit" (click)="onEdit(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
