<mat-card>
  <mat-card-header>
    <mat-card-title>Role Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>Role Name:</strong> {{ data.roleName }}</p>
    <p><strong>Client:</strong> {{ data.client }}</p>
    <p><strong>Code:</strong> {{ data.code }}</p>
    <p><strong>Description:</strong> {{ data.description }}</p>
    <p><strong>Status:</strong> {{ data.status }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button mat-dialog-close color="primary">Close</button>
  </mat-card-actions>
</mat-card>
