<div class="header">
  <h2>Charger Variant</h2>
  <button mat-raised-button color="primary" class="create" (click)="onCreate()">
    <mat-icon>add</mat-icon> Create
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Variant Name Column -->
  <ng-container matColumnDef="variantName">
    <th mat-header-cell *matHeaderCellDef> Variant Name </th>
    <td mat-cell *matCellDef="let element"> {{element.charger_type_name}} </td>
  </ng-container>

  <!-- Charger Type Column -->
  <ng-container matColumnDef="chargerType">
    <th mat-header-cell *matHeaderCellDef> Charger Type </th>
    <td mat-cell *matCellDef="let element"> {{element.charger_model_type_name}} </td>
  </ng-container>

  <!-- Manufacturer Column -->
  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
    <td mat-cell *matCellDef="let element"> {{element.manufacturer_name}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" aria-label="View" (click)="onView(element.id)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Edit" (click)="onEdit(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
