<div class="header">
  <h2>Charger Variant</h2>

    <div class="header-right">
    <mat-card class="search-container">
      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Search</mat-label>
        <input matInput [(ngModel)]="searchText" (input)="applyFilter()" placeholder="Search...">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    </mat-card>


       <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button mat-raised-button color="primary" class="download-btn" (click)="downloadCSV()">
        <mat-icon class="download-icon" style="font-size: 30px; height: 30px; width: 30px;">download_for_offline</mat-icon>
       Export</button>
    </div>

    <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
      <button mat-raised-button color="primary" class="create" (click)="onCreate()">
        <mat-icon>add</mat-icon> Create
      </button>
    </div>
    
  </div>

 
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Variant Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Variant Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Charger Type Column -->
  <ng-container matColumnDef="chargerType">
    <th mat-header-cell *matHeaderCellDef> Charger Type </th>
    <td mat-cell *matCellDef="let element"> {{element.charger_model_type_name}} </td>
  </ng-container>

  <!-- Manufacturer Column -->
  <ng-container matColumnDef="manufacturer">
    <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
    <td mat-cell *matCellDef="let element"> {{element.manufacturer_name}} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> 
      <span class="status active" [ngClass]="{'status-green': element.status === 'Y', 
      'status-red': element.status === 'N'}">{{ element.status=== 'Y' ? 'Active' : 'Inactive' }}</span> 
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="btn-view" aria-label="View" (click)="onView(element.id)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button class="btn-edit" aria-label="Edit" (click)="onEdit(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Delete" (click)="onDelete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
