<h2 mat-dialog-title>Create CPO</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="outline" width="full-width" class="custom-label">
    <mat-label>Client</mat-label>
    <input matInput formControlName="clientName" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label> Name</mat-label>
    <input matInput formControlName="cpoName" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>Contact Person Name</mat-label>
    <input matInput formControlName="contactPerson" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>Mobile</mat-label>
    <input matInput formControlName="phone" required />
  </mat-form-field>

  

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>GST Number</mat-label>
    <input matInput formControlName="GSTIN" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>TIN Number</mat-label>
    <input matInput formControlName="tinnumber" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>Adress Line 1</mat-label>
    <input matInput formControlName="addressline1" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>Adress Line 2</mat-label>
    <input matInput formControlName="addressline2" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>Pincode</mat-label>
    <input matInput formControlName="pincode" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>City</mat-label>
    <input matInput formControlName="city" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>State</mat-label>
    <input matInput formControlName="state" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country" required />
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="custom-label">
    <mat-label class="label-cpo">Landmark</mat-label>
    <input class="input-cpo" matInput formControlName="landmark" required />
  </mat-form-field>

  <mat-slide-toggle formControlName="status" class="toggle-green custom-label">
    <!-- <span class="status" [ngClass]="element.status === 'Active' ? 'active' : 'inactive'">
      Active
    </span> -->

    <span class="status" [ngClass]="form.get('status')?.value ? 'active' : 'inactive'">
        {{ form.get('status')?.value ? 'Active' : 'Inactive' }}
      </span>
    
  </mat-slide-toggle>

  <div class="button-row custom-label">
    <button mat-stroked-button type="button" class="cancel"  (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" class="create" [disabled]="form.invalid">Create</button>
  </div>
</form>

