

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
  }
  
  .dashboard-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #f5f5f5;
    border-radius: 4px;
  }
  
  .dashboard-row1 {
    width: 100%;
    min-height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background: #f5f5f5;
    border-radius: 4px;
  }
  
  .section {
    flex: 1;
    padding: 0 10px;
  }
  
  .connector-section {
    justify-content: space-between;
  }
  
  .settings-container {
    //position: fixed;
    top: 278px;
    right: 0;
    width: 200px;
    background-color: #fafafa;
    border-left: 1px solid #ddd;
    padding: 16px;
    height: calc(100vh - 120px);
    overflow-y: auto;
    z-index: 1000;
  }
  
  .bottom-settings{
    width: max-content;
    position: relative;
    top: 0px;
    right: 111px;
    z-index: 1000;
  }
  
  .settings-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .settings-action {
    display: flex;
  
   //position:absolute;
   
    gap: 12px;
  }
  
  .set-ocpp{
    display: flex;
    justify-content: flex-start;
    
  }
  
  .action-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
     //margin-right: 10px;
  }
  
  .action-detail {
    flex: 1;
    background-color: #e3f2fd;
    border: 1px solid #90caf9;
    border-radius: 4px;
    padding: 16px;
    min-width: 300px;
  }
  
  .bottom-settings {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
  }
  
  //
  
  // .settings-backdrop {
  //   position: fixed;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   // z-index: 999;
  //   background-color: rgba(0, 0, 0, 0.05); // light dim backdrop
  //   display: flex;
  //   justify-content: flex-end;
  // }
  
  .settings-container {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    border-left: 1px solid #ccc;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    height: 70%;
    overflow-y: auto;
    scrollbar-width: none;
    margin-left: 10px;
  }


  // ocpp dashboard button 

  .ocpp-btn{
    
    border-bottom: 3px solid rgb(94, 224, 18);
  }