<h2 mat-dialog-title>{{ isEditMode ? 'Edit' : 'Create' }} RFID</h2>

<form [formGroup]="rfidForm" (ngSubmit)="onSubmit()"  class="form-container">
  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>RFID Number</mat-label>
    <input matInput formControlName="rf_id_no" />
    <mat-icon matSuffix>pin</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="custom-label">
    <mat-label>Expiry Date</mat-label>
    <input matInput type="date" formControlName="expiry_date" />
    <mat-icon matSuffix>date_range</mat-icon>
  </mat-form-field>

  <mat-slide-toggle formControlName="status"  class="toggle-green"> Status
    <!-- <span class="status" [ngClass]="rfidForm.get('status')?.value ? 'active' : 'inactive'">
       {{ rfidForm.get('status')?.value ? 'Active' : 'Inactive' }}
    </span> -->
   
  </mat-slide-toggle>

  <div class="button-row">
   
    <button mat-raised-button color="primary" class="create" type="submit" [disabled]="rfidForm.invalid">{{ isEditMode ? 'Save' : 'Create' }}</button>
     <button mat-raised-button type="button" (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
  </div>
</form>
