
<div class="header">
    <h2>Manage CPO</h2>
    <button mat-raised-button color="primary" class="create" (click)="onCreate()">
      <mat-icon>add</mat-icon> Create
    </button>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <pre>{{ dataSource.data | json }}</pre>

  
   <!-- Client Name -->
<ng-container matColumnDef="clientName">
  <th mat-header-cell *matHeaderCellDef>Client Name</th>
  <td mat-cell *matCellDef="let element"> {{ element.client_name }} </td>
</ng-container>

<!-- CPO Name -->
<ng-container matColumnDef="cpoName">
  <th mat-header-cell *matHeaderCellDef>CPO Name</th>
  <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
</ng-container>

<!-- GSTIN -->
<ng-container matColumnDef="GSTIN">
  <th mat-header-cell *matHeaderCellDef>GSTIN</th>
  <td mat-cell *matCellDef="let element"> {{ element.gst_no }} </td>
</ng-container>

<!-- Contact Person -->
<ng-container matColumnDef="contactPerson">
  <th mat-header-cell *matHeaderCellDef>Contact Person</th>
  <td mat-cell *matCellDef="let element"> {{ element.cp_name }} </td>
</ng-container>

<!-- Status -->
<ng-container matColumnDef="status">
  <th mat-header-cell *matHeaderCellDef>Status</th>
  <td mat-cell *matCellDef="let element">
    <span class="status" [ngClass]="{
      'status-green': element.status === 'Y',
      'status-red': element.status === 'N'
    }">
      {{ element.status === 'Y' ? 'Active' : 'Inactive' }}
    </span>
  </td>
</ng-container>

  
    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="btn-view" (click)="onView(element.id)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button class="btn-edit" (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  