<div class="header">
  <h2>Charger Models</h2>
  <button mat-raised-button color="primary" class="create" (click)="onCreate()">
    <mat-icon>add</mat-icon> Create
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Model Column -->
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element">
      <span class="status active" [ngClass]="{'status-green': element.status === 'active', 'status-red': element.status === 'Inactive'}">{{ element.status }}</span>
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="btn-view" (click)="onView(element.id)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button class="btn-edit" (click)="onEdit(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
