.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  button {
    background-color: #119347;
    color: white;

    &:hover {
      background-color: #0e7d3a; // slightly darker on hover
    }
  }
}

/* Action Buttons */
.btn-view {
  color: #119347 !important;
}

.btn-edit {
  color: #119347 !important;
}

.status.active {
  color: #119347;
  font-weight: 600;
}
