.form-container{
    // width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    gap: 20px;
    padding: 24px;
}
.form-container::-webkit-scrollbar {
    display: none;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}


// toggle

.mat-mdc-slide-toggle.mat-accent  {
   
    --mdc-switch-selected-focus-state-layer-color: #25d81b;
    --mdc-switch-selected-handle-color: #1bd83b;
    --mdc-switch-selected-hover-state-layer-color: #1bd834;
    --mdc-switch-selected-pressed-state-layer-color: #36d81b;
    --mdc-switch-selected-focus-handle-color: #0e8813;
    --mdc-switch-selected-hover-handle-color: #0e881e;
    --mdc-switch-selected-pressed-handle-color: #0e8818;
    --mdc-switch-selected-focus-track-color: #62f075;
    --mdc-switch-selected-hover-track-color: #62f07b;
    --mdc-switch-selected-pressed-track-color: #6af062;
    --mdc-switch-selected-track-color: #05911d;
  }


//   button cancel and create


.button-row {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 16px;
  }
  
  .cancel{
    background-color: rgb(255, 51, 0);
  }
  
  .create{
    background-color: #119347;
  }

  .custom-label{
    width: 100%;
  }

  //      

  ::ng-deep .custom-label .mat-mdc-text-field-wrapper {
    min-height: 36px !important;
    padding: 0 !important;
  }
  
  ::ng-deep .custom-label .mat-mdc-form-field-infix {
    padding: 0 8px !important;
    min-height: 36px !important;
  }
  
  ::ng-deep .custom-label input.mat-mdc-input-element {
    padding: 6px 0 !important;
    font-size: 12px !important;
    height: 28px !important;
    line-height: 28px !important;
  }
  
  ::ng-deep .custom-label .mdc-floating-label {
    font-size: 14px !important;
    top: 18px !important;
  }
  




  



