<h2 mat-dialog-title>
  {{ data ? 'Edit' : 'Create' }} Sale Dispatch
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-row">
    <mat-form-field appearance="outline" class="custom-label">
      <mat-label>Client</mat-label>
      <mat-select formControlName="clientName" required>
        <mat-option *ngFor="let client of clients" [value]="client.id">
          {{ client.name }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="custom-label">
      <mat-label>Dispatch date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dispatch_date" required />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-slide-toggle formControlName="status" class="toggle-green ">
      <span class="status" [ngClass]="form.get('status')?.value ? 'active' : 'inactive'">
        {{ form.get('status')?.value ? 'Active' : 'Inactive' }}
      </span>
    </mat-slide-toggle>

    <mat-slide-toggle formControlName="public" class="toggle-green ">
      <span class="status" [ngClass]="form.get('public')?.value ? 'Public' : 'Private'">
        {{ form.get('public')?.value ? 'Public' : 'Private' }}
      </span>
    </mat-slide-toggle>
  </div>

 <mat-form-field appearance="outline" class="custom-label">
  <mat-label>Serial no.</mat-label>
  <mat-select
    formControlName="serialNo"
    [multiple]="!isEdit"
    required
  >
    <mat-option *ngFor="let charger of chargers" [value]="charger.id">
      {{ charger.name }}
    </mat-option>
  </mat-select>
  <mat-icon matSuffix>help</mat-icon>
</mat-form-field>


  <div class="button-row custom-label">
    
    <button mat-raised-button color="primary" type="submit" class="create" [disabled]="form.invalid">
      {{ data ? 'Update' : 'Create' }}
    </button>
    <button mat-raised-button type="button"  (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
  </div>
</form>
