<h2 mat-dialog-title>Create Charger Model</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="fill" class="custom-label">
    <mat-label>Model Name</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="custom-label description-field">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" rows="4" required></textarea>
  </mat-form-field>

  <mat-slide-toggle formControlName="status" class="toggle-green">
    Y
  </mat-slide-toggle>

  <div class="button-row">
    <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
      {{ isLoading ? 'Creating...' : 'Create' }}
    </button>
  </div>
</form>
