<h2 mat-dialog-title> Manage Role Activity</h2>

<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

    <mat-form-field appearance="outline" class="custom-label">
      <mat-label>Client</mat-label>
      <mat-select formControlName="client" (selectionChange)="onClientChange($event.value)" placeholder="Select client" [disabled]="loadingClients">
        <mat-option *ngFor="let client of clients" [value]="client.client_id">{{client.name}}</mat-option>
      </mat-select>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Select Role</mat-label>
      <mat-select formControlName="role" (selectionChange)="onRoleChange($event.value)" [disabled]="!roles.length || loadingRoles">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="list.length > 0" class="menu-tree-container">
      <app-menu-item
        *ngFor="let menuItem of list"
        [node]="menuItem"
        (toggleCheckbox)="onMenuItemToggle($event)"
        (toggleExpand)="onMenuItemExpandToggle($event)"
      >
      </app-menu-item>
    </div>

    <div class="button-row" style="margin-top: 24px;">
      <button mat-raised-button color="primary" type="submit">Save</button>
      <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
    </div>

  </form>
</mat-card>
