<h2 mat-dialog-title>Create Charger Variant</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field appearance="fill" class="custom-label">
    <mat-label>Model Name</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field appearance="fill" class="custom-label description-field">
    <mat-label class="label">Description</mat-label>
    <textarea matInput formControlName="description" rows="4" required></textarea>
  </mat-form-field>

  <mat-slide-toggle formControlName="status" class="toggle-green">
    <span>
      Active
    </span>
    
  </mat-slide-toggle>

  <div class="button-row">
    <button mat-stroked-button type="button" class="cancel"  (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" class="create" [disabled]="form.invalid">Create</button>
  </div>
</form>

