<!-- <mat-card class="user-form-card"> -->
  <h2 mat-dialog-title>Create User</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

    <div>
      <h3>Personal Details</h3>
    <div class="form-container-name">
<mat-form-field appearance="outline" class="custom-label">
  <mat-label>Client *</mat-label>
  <mat-select formControlName="client_id">
    <mat-option *ngFor="let client of clients" [value]="client.id">
      {{ client.name }}
    </mat-option>
  </mat-select>
</mat-form-field>




<mat-form-field appearance="outline" class="custom-label">
  <mat-label>Role *</mat-label>
  <mat-select formControlName="role_id">
    <mat-option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
  </mat-select>
</mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Employee Code</mat-label>
        <input matInput formControlName="employee_code" />
        <mat-icon matSuffix>pin</mat-icon>
      </mat-form-field>
      
      <!-- <div class="form-container-name"> -->

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>First Name *</mat-label>
        <input matInput formControlName="f_Name" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="m_Name" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Last Name *</mat-label>
        <input matInput formControlName="l_Name" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      

     

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Date of Birth</mat-label>
        <input matInput formControlName="dob" type="date" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Email *</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      


    </div>
    </div>

      <div class="form-container-pass">

      
      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Username *</mat-label>
        <input matInput formControlName="username" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="!isEdit" class="custom-label">
        <mat-label>Password *</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="!isEdit" class="custom-label">
        <mat-label>Confirm Password *</mat-label>
        <input matInput formControlName="confirm_password" type="password" />
        <mat-icon matSuffix>password</mat-icon>
      </mat-form-field>

      </div>

      <div>
        <h3>Additional Details</h3>
     

      <div class="form-container-pass">


      <mat-form-field appearance="outline" class="custom-label"> 
        <mat-label>Mobile Number *</mat-label>
        <input matInput formControlName="mobile" />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Alternate Mobile Number</mat-label>
        <input matInput formControlName="alt_mobile" />
        <mat-icon matSuffix>smartphone</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>PAN Number</mat-label>
        <input matInput formControlName="PAN" />
        <mat-icon matSuffix>help</mat-icon>

      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Aadhar Number</mat-label>
        <input matInput formControlName="aadhar" />
        <mat-icon matSuffix>pin</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Address Line 1 *</mat-label>
        <input matInput formControlName="address1" />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Address Line 2</mat-label>
        <input matInput formControlName="address2" />
        <mat-icon matSuffix>home</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Pin Code *</mat-label>
        <input matInput formControlName="PIN" />
        <mat-icon matSuffix>pin</mat-icon>
      </mat-form-field>

      <!-- Country Dropdown -->
<mat-form-field appearance="outline" class="custom-label">
  <mat-label>Country *</mat-label>
  <mat-select formControlName="country_id">
    <mat-option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</mat-option>
  </mat-select>
  <mat-icon matSuffix>help</mat-icon>
</mat-form-field>

<!-- State Dropdown -->
<mat-form-field appearance="outline" class="custom-label">
  <mat-label>State *</mat-label>
  <mat-select formControlName="state_id">
    <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</mat-option>
  </mat-select>
  <mat-icon matSuffix>help</mat-icon>
</mat-form-field>

<!-- City Dropdown -->
<mat-form-field appearance="outline" class="custom-label">
  <mat-label>City *</mat-label>
  <mat-select formControlName="city_id">
    <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
  </mat-select>
  <mat-icon matSuffix>help</mat-icon>
</mat-form-field>

      <!-- <div class="form-container-pass"> -->

      <mat-form-field appearance="outline" class="custom-label">
        <mat-label>Landmark</mat-label>
        <input matInput formControlName="landmark" />
        <mat-icon matSuffix>flag</mat-icon>
      </mat-form-field>
     </div>
     </div>

     <div class="form-row">
      <mat-slide-toggle class="toggle-green" formControlName="status">
        Status
    <!-- <span id="statusToggleLabel" class="status" [ngClass]="form.get('status')?.value ? 'active' : 'inactive'"> {{ form.get('status')?.value ? 'Active' : 'Inactive' }}</span> -->
      </mat-slide-toggle>
    </div>

    <div class="form-actions">
      <button mat-raised-button class="create" color="primary" type="submit" [disabled]="form.invalid">
        {{ isEdit ? 'Save' : 'Create' }}
      </button>
      <button mat-raised-button (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
    </div>
  </form>
<!-- </mat-card> -->
