.toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.table-container {
  padding: 16px;
}

table {
  width: 100%;
}

.create{
    background-color: #44d62d !important;
}

.btn-edit, .btn-view{
    color: #119347 !important;
  }