<div class="header">
  <h2>Chargers Connector</h2>
  <button mat-raised-button class="create" color="primary" (click)="onCreate()">
    <mat-icon>add</mat-icon>&nbsp;Create
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

  <ng-container matColumnDef="vehicleModel">
    <th mat-header-cell *matHeaderCellDef>Vehicle Model</th>
    <td mat-cell *matCellDef="let element">{{ element.vehicleModel }}</td>
  </ng-container>

  <ng-container matColumnDef="connectorType">
    <th mat-header-cell *matHeaderCellDef>Connector Type</th>
    <td mat-cell *matCellDef="let element">{{ element.connectorType }}</td>
  </ng-container>

  <ng-container matColumnDef="vehicleType">
    <th mat-header-cell *matHeaderCellDef>Vehicle Type</th>
    <td mat-cell *matCellDef="let element">{{ element.vehicleType }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element" [ngClass]="{
      'status-green': element.status === 'Active',
      'status-red': element.status === 'Inactive',
      'status-pending': element.status === 'Pending'
    }">
      {{ element.status }}
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="btn-view" (click)="onView(element.id)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button class="btn-edit" (click)="onEdit(element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
