.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.active {
  color: green;
  // font-weight: 600;
}

.inactive {
  color: red;
  //font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  button {
    background-color: #119347;
    color: white;

    &:hover {
      background-color: #209311; /* darker blue on hover */
    }
  }
}
.create{
  background-color: #44d62d !important;
}



.btn-edit, .btn-view{
  color: #119347 !important;
}


.status-green {
  color:#119347;
}

.status-red {
  color: #d62d2d;
}

